<div class="container">
    <br>
    <br>

        <br>
        <div class="card text-center">

            <div class="centrado">

                <img src="/assets/user.png" height="150" width="150" class="centrado" >
            </div>

            <font size="5px">Nombre: {{user.name}}</font>
            <font size="2px">Cédula: {{user.cc}}</font>
            <font size="2px">Tipo de usuario: {{user.permission}}</font>

        </div>

        <br>

    <font size="8px">Historial de Reservas: </font>
</div>